::selection {
    background-color: #3334;
}

ul {
    list-style-type: none;
}

.desktop {
    border-radius: 10px;
    background-image: url("./MacOS_11.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-family: Helvetica, 'Lucida Sans';
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.finderBar {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    width: 100%;
    top: 0px;
    right: 0;
    display: flex;
    align-items: center;
    position: fixed;
    color: white;
    font-size: 13px;
    background-color: #2222;
}

.appleico {
    background-color: transparent;
    border: transparent;
    color: white;
    height: 20px;
    width: 20px;
    top: 0;
    margin: 0 15px;
    padding: 2px;
    border-radius: 6px;
    transition: 0.3s;
}

.appleico:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.appName:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.appName {
    font-weight: bold;
    padding: 4px 3px;
    border-radius: 6px;
    transition: 0.3s;
    height: 100%;
}

.appName:hover {
    cursor: pointer;
}

.dock {
    height: 62px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    bottom: 0;
    position: fixed;
    background: #2228;
    border: #ddd, 2px;
    display: flex;
    align-items: flex-end;
    border-radius: 12.5px;
    padding: 5px 5px;
}

.icon {
    height: 50px;
    transition: 0.2s;
}

.icon:hover {
    height: 60px;
}

.menuBar {
    padding: 4px 5px;
    border-radius: 6px;
    transition: 0.3s;
    height: 100%;
}

.menuBar:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.window {
    border-radius: 10px;
    top: 201px;
    left: 388px;
    min-width: 555px;
    min-height: 336px;
    font-family: Helvetica;
    max-width: 100%;
    max-height: 100%;
    color: white;
}

#mydivheader {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 7.5px;
}

.clos {
    background-color: red;
    display: inline;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: transparent;
    margin-left: 8px;
    color: red;
}

.clos:hover {
    color: maroon;
}

.min {
    background-color: yellow;
    display: inline;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: transparent;
    margin-left: 8px;
    color: yellow;
}

.min:hover {
    color: orangered;
}

.max {
    background-color: rgb(3, 192, 3);
    display: inline;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: transparent;
    margin-left: 8px;
    color: rgb(3, 192, 3);
}

.max:hover {
    color: green;
}

.menu {
    position: absolute;
    min-width: 4cm;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: white;
    display: none;
    background-color: #2228;
}

.menu {
    padding: 2px;
    overflow: hidden;
}

.menu div:hover {
    background-color: #0044ff;
    cursor: pointer;
}

.menu div {
    border-radius: 5px;
    padding: 2px 8px;
    margin: 2px;
    font-size: 12.5px;
    cursor: pointer;
    transition: 0.25s;
}

span img {
    height: 20px;
    width: 20px;
}

.main {
    background-color: white;
}